.row {
  position: relative
}

.column-left {
  width: 75%;
  min-height: 1px;
  float: left;
  display: inline-block;
  text-align: left;
}

.column-right {
  width: 25%;
  float:left;
  display: inline-block;
  text-align: right;
}

.column-right input {
  text-align: right;
  width: 50%;
}

.delete-cost {
  position: absolute;
  right: -25px;
  top: -1px;
  cursor: pointer
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; 
}
